body {
    margin: 0;
    font-family: 'Tinos', serif;
}

.wrapper {
    width: 100%;
    display: flex;

    .container {
        width: 100%;
        border-right: 2px solid gray;
        padding: 20px;
        box-sizing: border-box;

        &_result {
            width: 40%;
            border-right: none;
        }

        .task {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.square {
    // только исправления, новых св-в не добавлять!
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 5px 5px 15px 0 black;
    border: 1px solid red;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;

    display: flex;
    box-sizing: border-box;
}

.clip {
    width: 200px;
    height: 100px;
    background: linear-gradient(to left, hotpink, orange);
    border-left: 3px solid green;
    clip-path: polygon(0 0, 80% 0, 80% 20%, 100% 0, 100% 100%, 0 100%);

    border-bottom: 3px solid red;
}

.news {
    width: 300px;

    &__title {
        font-weight: bold;
        font-size: 25px;

        text-align: center;
    }

    &__text {

        text-align: right;

        .italic {
            font-size: 16px;
            text-decoration: underline;
            text-transform: uppercase;
            
            color: red;
            font-style: italic;;
        }
    }
}

.perspective {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;

    &__inside-1 {
        width: 150px;
        height: 150px;
        background-color: green;
        position: absolute;
        right: -50px;
        box-shadow: 0 0 10px 0 black;

        top: -50px
    }

    &__inside-2 {
        width: 100px;
        height: 100px;
        background-color: red;
        left: -50px;
        box-shadow: 0 0 10px 0 black;

        position: absolute;
        bottom: -50px;
    }
}
